<h1 class="page-header">Create a topic</h1>
<form role="form" ng-submit="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" ng-model="name" type="text" class="form-control" placeholder="Code, Pizzas, etc...">
  </div>

  <div class="form">
    <label for="locations">Locations</label>
    <div class="row">
      <div class="col-md-8">
        <google-map id=locations" center="map.center" zoom="map.zoom"
          events="map.events" options="map.options"
          draggable="true"></google-map>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <button type="button" ng-click="addLocation()" class="btn btn-default">Add</button>
          <button type="button" ng-click="removeSelectedLocation()" class="btn btn-default" ng-disabled="selectedLocation == -1">Delete selected</button>
        </div>
        <table ng-show="locations.length" class="table">
          <thead>
            <tr>
              <th colspan="2">South-west</th>
              <th colspan="2">North-east</th>
            </tr>
            <tr>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="loc in locations" ng-click="selectLocation($index)" ng-class="{ active: selectedLocation == $index }">
              <td>{{ loc.sw.lat|number:2 }}</td>
              <td>{{ loc.sw.lng|number:2 }}</td>
              <td>{{ loc.ne.lat|number:2 }}</td>
              <td>{{ loc.ne.lng|number:2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="tags">Tags</label>
    <p ng-hide="tags.length">
      <em>No tags added (yet)</em>
    </p>
    <ul ng-show="tags.length" id="tags" class="list-group">
      <li ng-repeat="tag in tags" class="list-group-item">
        {{ tag }}
        <a href="" ng-click="removeTag($index)" class="close">&times;</a>
      </li>
    </ul>
    <div class="input-group">
      <input ng-model="currentTag" ng-enter="addTag(currentTag)" type="text" class="form-control" placeholder="Add another tag">
      <span class="input-group-btn">
        <button ng-click="addTag(currentTag)" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div>
    <p><em>Any non-alphanumeric characters will be removed from tags</em></p>
  </div>

  <button type="submit" class="btn btn-success">Create</button>
</form>
