<h1 class="page-header">
  {{ topic.name }}
  <button ng-click="requestDelete()" class="btn btn-lg btn-danger pull-right" type="button">
    <span class="glyphicon glyphicon-remove-circle"></span>
  </button>
</h1>

<h2>Map</h2>
<google-map id=locations" center="map.center" zoom="map.zoom"
  events="map.events" options="map.options"
  draggable="true"></google-map>

<h2>Tweets</h2>
<table ng-show="tweets" class="table">
  <tr>
    <th>Text</th>
    <th>User</th>
    <th>Geo enabled</th>
  </tr>
  <tr ng-repeat="tweet in topic.tweets">
    <td>{{ tweet.status }}</td>
    <td><a href="https://twitter.com/{{ tweet.user }}">{{ tweet.user }}</a></td>
    <td><input type="checkbox" ng-model="tweet.user_geo_enabled" disabled></td>
  </tr>
</table>

<script type="text/ng-template" id="confirm_topic_deletion.html">
  <div class="modal-header">
    <h3>Confirm topic deletion</h3>
  </div>
  <div class="modal-body">
  Do you <em>really</em> want to delete this topic ? This action cannot be undone.
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" ng-click="confirm()">Yes, I'm sure</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  </div>
</script>
